# Grand Challend: Understanding Water Pollution and Global Health Display

## Introduction

Water pollution is a pressing global issue that affects not just ecosystems, but also human health, economic stability, and social equity. Contaminated water sources contribute to the spread of preventable diseases, especially in developing regions, where access to clean water and sanitation remains limited. Despite global efforts, many countries continue to face high rates of waterborne diseases and environmental degradation, while others have managed to control these risks effectively.

This project aims to explore **why some countries struggle with water pollution impacts more than others** by analyzing a comprehensive dataset of water quality indicators, health outcomes, and socioeconomic infrastructure. Using statistical modeling and visual analytics, we seek to uncover the **key relationships between pollution, disease rates, and national resilience factors** like GDP, healthcare access, and sanitation coverage.

## Project Goals

- Quantify the level of water contamination across countries based on WHO/EPA thresholds.
- Correlate contamination levels with health indicators like diarrheal diseases, cholera, typhoid, and infant mortality.
- Identify whether higher GDP, better healthcare, and stronger infrastructure offer significant protection.
- Compare "high-risk" and "low-risk" countries to extract actionable insights.
- Suggest policy directions and water treatment strategies that can mitigate future risks.

By combining data science with environmental analysis, we hope to not only diagnose the problem — but also highlight what works, where, and why.

## Imported Libraries – Why We Use Them

To effectively explore, analyze, and visualize our dataset, we use the following Python libraries:

- **pandas**: For loading, cleaning, and manipulating tabular data.
- **numpy**: For numerical operations, especially useful when handling arrays and applying mathematical transformations.
- **matplotlib.pyplot**: For creating clear and customizable static plots.
- **seaborn**: For more aesthetically pleasing and informative statistical plots (built on top of matplotlib).
- **scipy.stats**: To compute statistical metrics such as correlations and z-scores.
- **sklearn.preprocessing**: For feature scaling (normalizing risk scores between 0 and 100).
- **sklearn.linear_model** & **sklearn.metrics** *(optional)*: For running and evaluating regression models to test relationships between variables.
- **warnings**: To suppress unnecessary warnings and keep our notebook output clean.

These libraries form the backbone of our analysis pipeline — from data wrangling and scoring to insightful visualizations and hypothesis testing.

In [ ]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import pearsonr, zscore
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

import warnings
warnings.filterwarnings('ignore')

# Loading the dataset
file_path = 'water_pollution_disease.csv'
df = pd.read_csv(file_path)

# Displaying the first few rows of the dataset
print("First few rows of the dataset:")
display(df.head())

# Show all the columns
print("\n Columns in the dataset:")
for col in df.columns:
    print(col)

# Basic shape information
print(f"\nDataset shape: {df.shape[0]} rows, {df.shape[1]} columns.")

# Summary statistics
print("\nSummary Statistics:")
display(df.describe())

First few rows of the dataset:

     Country   Region  ...  Temperature (°C) Population Density (people per km²)
0     Mexico    North  ...              4.94                                 593
1     Brazil     West  ...             16.93                                 234
2  Indonesia  Central  ...             21.73                                  57
3    Nigeria     East  ...              3.79                                 555
4     Mexico    South  ...             31.44                                 414

[5 rows x 24 columns]

 Columns in the dataset:
Country
Region
Year
Water Source Type
Contaminant Level (ppm)
pH Level
Turbidity (NTU)
Dissolved Oxygen (mg/L)
Nitrate Level (mg/L)
Lead Concentration (µg/L)
Bacteria Count (CFU/mL)
Water Treatment Method
Access to Clean Water (% of Population)
Diarrheal Cases per 100,000 people
Cholera Cases per 100,000 people
Typhoid Cases per 100,000 people
Infant Mortality Rate (per 1,000 live births)
GDP per Capita (USD)
Healthcare Access Index (0-100)
Urbanization Rate (%)
Sanitation Coverage (% of Population)
Rainfall (mm per year)
Temperature (°C)
Population Density (people per km²)

Dataset shape: 3000 rows, 24 columns.

Summary Statistics:

              Year  ...  Population Density (people per km²)
count  3000.000000  ...                          3000.000000
mean   2012.012667  ...                           505.390333
std       7.229287  ...                           283.275224
min    2000.000000  ...                            10.000000
25%    2006.000000  ...                           254.750000
50%    2012.000000  ...                           513.000000
75%    2018.000000  ...                           745.000000
max    2024.000000  ...                           999.000000

[8 rows x 20 columns]

## Dataset Overview

This dataset captures the multifaceted nature of water pollution and its impacts on public health and infrastructure across various countries. It spans 3000 data points with 24 columns, including:

- **Water quality indicators** (e.g. contaminant level, pH, turbidity, dissolved oxygen, etc.)
- **Health statistics** (e.g. diarrheal, cholera, typhoid cases, infant mortality)
- **Socioeconomic factors** (e.g. GDP per capita, healthcare access, urbanization)
- **Infrastructure access** (e.g. access to clean water, sanitation coverage, water treatment method)

The data spans from the year 2000 to 2024, providing a temporal dimension for analysis.

A preview of the first few rows helps us understand the data structure, formatting, and potential cleaning needs.

In [8]:
# Cleaning the dataset
df.isnull().sum()[df.isnull().sum() > 0]

Water Treatment Method    747
dtype: int64

## Handling Missing Values

We identified missing values in the **Water Treatment Method** column. Since this is a categorical feature and dropping rows could lead to loss of important data, we fill the missing entries with `"Unknown"` to preserve dataset integrity.

In [12]:
#Fill missing values with 'Unknown'
df = df.fillna('Unknown')

# Save the processed dataset
df.to_csv('water_pollution_disease_processed.csv', index=False)
print("\nProcessed dataset saved as 'water_pollution_disease_processed.csv'")
#Verify no missing values remain
print("\nMissing values after filling:")
print(df.isnull().sum()[df.isnull().sum() > 0])

Processed dataset saved as 'water_pollution_disease_processed.csv'

Missing values after filling:
Series([], dtype: int64)